
body{
    padding: 0;
    margin: 0;
    background-color: #117A96;
}

section{
    display: flex;
}
header{
    padding: 15px;
    margin: 20px;
    background-color: #11966F;
    text-align: center;
    width: fit-content;
    border-radius: 15px;
    box-shadow: 10px 10px 5px rgb(61, 60, 60);
}

.todos:hover{
    background-color: rgba(17, 150, 110, 0.87);
  
}
.todos{
    padding: 20px;
    margin: 20px;
    background-color: #11966F;
    text-align: left;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgb(61, 60, 60); 
}
.input{
    padding:20px 20px;
    margin: 20px;
    background-color: #11966F;
    text-align: left;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 10px 10px 5px rgb(61, 60, 60);
}
.nameinput{
    padding: 10px 10px;
}
.dateinput{
    padding: 10px 10px;
}
.addbutton{
    padding: 5px 50px;
    margin: 10px;
}
footer{
    padding: 20px 50px;
    margin-top: 150px;
    background-color: #11966F;
    text-align: center;
    box-shadow: 10px 10px 5px rgb(61, 60, 60);
}